fastapi[standard]
uvicorn
pymongo
pydantic[email]
python-dotenv
paddlepaddle 
paddleocr
pytesseract
aistudio-sdk          
annotated-types       
anyio              
bce-python-sdk        
certifi              
chardet              
charset-normalizer    
click                 
colorlog              
defusedxml            
dnspython             
dotenv                
email-validator       
fastapi               
fastapi-cli           
fastapi-cloud-cli     
filelock              
fonttools             
fsspec0
future                
h11                   
hf-xet                
httpcore              
httptools             
httpx                 
huggingface-hub       
idna
imagesize             
Jinja2                
markdown-it-py        
MarkupSafe            
mdurl                 
modelscope            
networkx
numpy                 
opencv-contrib-python 
opt-einsum            
packaging
paddleocr             
paddlepaddle          
paddlex               
pandas                
pillow                
pip
prettytable           
protobuf              
psutil                
py-cpuinfo            
pyclipper             
pycryptodome          
pydantic              
pydantic_core         
Pygments              
pymongo               
pypdfium2             
pytesseract           
python-dateutil       
python-dotenv         
python-multipart      
pytz
PyYAML                
requests              
rich                  
rich-toolkit          
rignore               
ruamel.yaml           
ruamel.yaml.clib      
safetensors           
sentry-sdk            
setuptools            
shapely               
shellingham           
six                   
sniffio               
starlette             
tqdm                  
typer                 
typing_extensions     
typing-inspection     
tzdata
ujson                 
urllib3               
uvicorn               
uvloop                
watchfiles            
wcwidth               
websockets            