fastapi[standard]
uvicorn
pymongo
pydantic[email]
python-dotenv
paddlepaddle 
paddleocr
pytesseract
aistudio-sdk          
annotated-types       
anyio              
bce-python-sdk        
certifi              
chardet              
charset-normalizer    
click                 
colorlog              
defusedxml            
dnspython             
dotenv                
email-validator       
fastapi               
fastapi-cli           
fastapi-cloud-cli     
filelock              
fonttools             
future                
h11                   
hf-xet                
httpcore              
httptools             
httpx                 
huggingface-hub       
idna
imagesize             
Jinja2                
markdown-it-py        
MarkupSafe            
mdurl                 
modelscope            
networkx
numpy                 
opencv-contrib-python 
opt-einsum            
packaging
paddleocr             
paddlepaddle          
paddlex               
pandas                
pillow                
prettytable           
protobuf              
psutil                
py-cpuinfo            
pyclipper             
pycryptodome          
pydantic              
pydantic_core         
Pygments              
pymongo               
