fastapi[standard]
uvicorn
pymongo
pydantic[email]
python-dotenv
paddlepaddle 
paddleocr
pytesseract
aistudio-sdk          
annotated-types       
anyio              
bce-python-sdk        
certifi              
chardet              
charset-normalizer    
click                 
colorlog              
defusedxml            
dnspython             
dotenv                             
huggingface-hub       
numpy                 
opencv-contrib-python 
opt-einsum            
packaging
paddleocr             
paddlepaddle          
paddlex               
pandas                
pillow                          
pydantic              
pymongo               
opencv-python
opencv-python-headless